{% extends "@LiePayroll/payroll/_layout.html.twig" %}
{% block page_content %}
<div class="container-xl">
  <div class="card">
    <div class="card-header"><h3 class="card-title">Payroll-Details</h3></div>
    <div class="card-body">
      {% set p = period %}
      <dl class="row">
        <dt class="col-sm-3">Mitarbeiter</dt><dd class="col-sm-9">{{ p.user.displayName }}</dd>
        <dt class="col-sm-3">Monat</dt><dd class="col-sm-9">{{ p.month }}</dd>
        <dt class="col-sm-3">Stunden</dt><dd class="col-sm-9">{{ p.totalHours }}</dd>
        <dt class="col-sm-3">Stundenlohn</dt><dd class="col-sm-9">{{ p.hourlyRate }} CHF</dd>
        <dt class="col-sm-3">Brutto</dt><dd class="col-sm-9">{{ p.grossSalary }} CHF</dd>
        <dt class="col-sm-3">Abzüge</dt>
        <dd class="col-sm-9">
          <ul class="mb-0">
            {% for d in p.deductions %}
              <li>{{ d.code }} ({{ d.rate }}%): {{ d.amount }} CHF</li>
            {% endfor %}
          </ul>
        </dd>
        <dt class="col-sm-3">Netto</dt><dd class="col-sm-9"><strong>{{ p.netSalary }} CHF</strong></dd>
        <dt class="col-sm-3">Status</dt><dd class="col-sm-9">{{ p.status }}</dd>
      </dl>
    </div>
  </div>
</div>
{% endblock %}
